extends ../base/layout.pug

block content
  - let classNames = user.role === "business" ? "girdle user-profile business" : "girdle user-profile";
  main(role="main" class=classNames)
    header(class="user-profile-header")
      img(class="avatar" src=user.avatar)

      h2 Welcome #{user.displayName}

    div(class="user-details")
      h2 User profile

      dl
        dt Fullname
        dd #{user.firstName} #{user.familyName}
        dt Display name
        dd #{user.displayName}
        dt Email
        dd #{user.email}
      if user.areaFilter
        dt Postal Code
        dd #{user.areaFilter}

    if user.role === "business"
      div(class="business-details")
        h2 Business Information

        unless user.businessName
          p Complete your #[a(href="edit") business profile details].

        dl
        if user.businessName
          dt Business name
          dd #{user.businessName}
        if user.businessAbout
          dt About your business
          dd #{user.businessAbout}
        if user.businessStreetAddress
          dt Street address
          dd #{user.businessStreetAddress}
        if user.businessSuburb
          dt Suburb
          dd #{user.businessSuburb}
        if user.businessCity
          dt City
          dd #{user.businessCity}
        if user.businessProvince
          dt Province
          dd #{user.businessProvince}
        if user.businessPostalCode
          dt Postal code
          dd #{user.businessPostalCode}
        if user.businessWebsite
          dt Business website
          dd #{user.businessWebsite}
        if user.businessEmail
          dt Business email
          dd #{user.businessEmail}


