extends ../base/layout.pug

block content
  main(role="main" class="girdle user-profile")
    header(class="user-profile-header")
      img(class="avatar" src=user.picture)

      h2 Welcome #{user.displayName}

    div(class="user-details")
      h2 User profile

      dl
        dt Display name
        dd #{user.displayName}
        dt Email
        dd #{user.emails[0].value}
        dt Username
        dd #{user.nickname}

