extends ../base/layout.pug

block content
  main(role="main" class="girdle user-profile")
    header(class="user-profile-header")
      img(class="avatar" src=user.avatar)

      h2 Welcome #{user.displayName}

    div(class="user-details")
      h2 User profile

      dl
        dt Fullname
        dd #{user.firstName} #{user.familyName}
        dt Display name
        dd #{user.displayName}
        dt Email
        dd #{user.email}

