extends ../base/layout.pug

block content
  main(role="main" class="girdle public-user-profile")
    header(class="user-profile-header")
        img(src=user.avatar class="avatar")
        h2= user.businessName
        p= user.businessAbout

    if user.businessStreetAddress
        h3 Business Address

        p= user.businessStreetAddress
            if user.businessSuburb
                br
                = user.businessSuburb
            if user.businessCity
                br
                = user.businessCity
            if user.businessProvince
                br
                = user.businessProvince
            if user.businessPostalCode
                br
                = user.businessPostalCode

    if user.businessWebsite || user.businessEmail
        h3 Contact Information
        ul
            if user.businessEmail
            li
                a(href=`mailto:user.businessEmail` class="icon email-address")= user.businessEmail
            if user.businessWebsite
            li
                a(href=user.businessWebsite rel="external noopener" class="icon website")= user.businessWebsite
